*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Bebas Neue", sans-serif;
  background-image: linear-gradient(to top, #5468FF 0%, #330867 100%);
  font-size: 20px;
}

main{
  height: 100vh;
}

.container{
  width: 80%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.2);
}

.container, .card{
  border-radius: 20px;

}
.btn-container{
  height: 10%;
}

.middle-section, .cash, main, .card-container, .welcome, .card-title, .points, .output-message, .btn-container, .dice-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-section{
  flex-direction: column;
}

.card-container, .welcome, .card-title,  .output-message, .btn-container, .dice-area{
  padding: 18px 0;
}
.points{
  padding: 18px 0 5px 0;
}
.cash{
  padding-bottom: 18px;
}
.welcome, .output-message{
  height: 20%;
}

.welcome{
  font-size: 30px;
  color: #ededf7;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.card-container{
  justify-content: space-around;
  height: 50%;
}

.card{
  width: 30%;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
}

.cash,.card-title, .points {
  height: 20%;
  letter-spacing: 2px;
}

.dice-area{
  height: 60%;
}

.dice-pic{
  width: 100px;
}

.counter{
  display: flex;
  font-size: 100px;
}

.btn{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 45px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

.btn:active{
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.emoji{
  width:50px;
  margin: 0 20px;
}
.output-message{
  font-size: 30px;
  
}
.bet-input{
  margin-top: 20px;
  width:200px
}
#player-bet{
  box-shadow: inset #005fdb 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;
  text-align: center;
}
#player-bet::placeholder {
  color: black;
  opacity: 1; 
}
#player-bet::-ms-input-placeholder { 
  color: black;
}

#player-bet:hover{
  box-shadow: 0 0 0 0 #fff inset, #89E5FF 0 0 0 2px;
}

#player-bet:focus{
  background: rgba(255, 255, 255, 0.3);
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #89E5FF 0 0 0 3px;
}